<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Box game</title>
    <!-- Link to Bootstrap CSS file -->
    <link
      rel="stylesheet"
      href="../node_modules/bootstrap/dist/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container text-center mt-5">
      <!-- Heading for thank you message -->
      <h1>Thank you for using my simple game</h1>
      <!-- Button to play again -->
      <div class="modal-body mt-5">
        <button
          class="btn btn-primary"
          onclick="window.location.href='../index.html'"
        >
          Play Again
        </button>
      </div>
    </div>
    <!-- Link to Bootstrap JavaScript file -->
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
